@layer reset {
  * {
    margin: 0;
    padding: 0;
  }
  *::after,
  *::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  body {
    margin: 0;
    padding: 0;
  }
  button,
  input,
  textarea,
  select {
    font: inherit;
  }
  img,
  picture,
  svg,
  canvas {
    max-inline-size: 100%;
    block-size: auto;
  }
  @media (prefers-reduced-motion: reduce) {
    *,
    *::before,
    *::after {
      animation-duration: 0.01ms !important;
      animation-iteration-count: 1 !important;
      transition-duration: 0.01ms !important;
      scroll-behavior: auto !important;
    }
  }
}

:root {
  --grey-dark: #716e6e;
  --grey-light: #aeaeae;
  --yellow-dark: #e2cb01;
  --yellow-light: #f9dc49;
  --orange: #f3880a;
  --blue-light: #09abdd;
  --font-family: "Poppins", sans-serif;
  --font-weight-thin: 100;
  --font-weight-extra-light: 200;
  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semi-bold: 600;
  --font-weight-bold: 700;
  --font-weight-extra-bold: 700;
}
body {
  font-family: var(--font-family);
}
nav {
  .topnav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 3rem;
    @media screen and (max-width: 830px) {
      padding-inline: 1rem;
    }
    .logo {
      img {
        width: 9rem;
        height: 7rem;
      }
    }
    .search_bar {
      position: relative;
      .bx {
        position: absolute;
        top: 50%;
        left: 1rem;
        transform: translateY(-50%);
        font-size: 1.5rem;
        @media screen and (max-width: 510px) {
          position: static;
          font-size: 2.5rem;
          transform: translateY(-10%);
        }
      }
      input {
        width: 500px;
        height: 45px;
        border-radius: 100px;
        padding-left: 3rem;
        border: 2px solid #000;
        padding-right: 2rem;
        transition: all 200ms ease-in-out;
        @media screen and (max-width: 830px) {
          width: 400px;
        }
        @media screen and (max-width: 550px) {
          width: 330px;
        }
        @media screen and (max-width: 510px) {
          display: none;
        }
        &:focus,
        &:focus-visible {
          border: 1px solid var(--orange);
          outline: 1px solid var(--orange);
        }
        &::placeholder {
          font-size: 1.3rem;
          font-weight: var(--font-weight-regular);
        }
      }
    }
    .register_btn {
      text-decoration: none;
      color: #fff;
      background-color: var(--yellow-dark);
      padding: 0.5em 1.5em;
      border-radius: 10px;
      font-size: 1.3rem;
      @media screen and (max-width: 830px) {
        padding: 0.5em 1em;
      }
      @media screen and (max-width: 550px) {
        display: none;
      }
      &:hover,
      &:focus-visible {
        background-color: var(--yellow-light);
      }
    }
  }
  .categories {
    background-color: var(--orange);
    padding-left: 3.5rem;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    @media screen and (max-width: 550px) {
      padding-left: 1rem;
      padding-right: 0.5rem;
    }
    ul {
      list-style: none;
      display: flex;
      gap: clamp(1rem, 7vw, 5rem);
      flex-wrap: wrap;
      @media screen and (max-width: 550px) {
        gap: 1rem;
      }
      li {
        a {
          text-decoration: none;
          color: #fff;
          font-size: 1.3rem;
          &:hover,
          &:focus-visible {
            color: var(--yellow-light);
            outline: none;
          }
        }
      }
    }
  }
}

main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  margin-top: 3rem;
  margin-bottom: 2rem;
  padding-inline: 3rem;
  align-items: center;
  @media screen and (max-width: 1000px) {
    padding-inline: 3.5rem;
    grid-template-columns: 1fr;
  }
  @media screen and (max-width: 550px) {
    padding-inline: 1rem;
  }
  .product_images {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.5rem;
  }
  .grid_col_2 {
    .product_details {
      h1 {
        font-size: 2rem;
        font-weight: var(--font-weight-light);
        margin-bottom: 2rem;
        font-weight: var(--font-weight-medium);
        @media screen and (max-width: 510px) {
          font-size: 1.5rem;
          margin-bottom: 1rem;
        }
      }
      .actual_price {
        font-size: 1.5rem;
        font-weight: var(--font-weight-medium);
        text-decoration: line-through;
        @media screen and (max-width: 510px) {
          font-size: 1rem;
        }
      }
      .new_price {
        font-size: 1.5rem;
        font-weight: var(--font-weight-semi-bold);
        margin-bottom: 2rem;
        @media screen and (max-width: 510px) {
          margin-bottom: 1rem;
          font-size: 1rem;
        }
      }
    }
    .seller_details {
      margin-bottom: 2rem;
      p {
        font-size: 1.5rem;
        margin-bottom: 0.3em;
        @media screen and (max-width: 510px) {
          font-size: 1rem;
          margin-bottom: 0;
        }
        a{
          text-decoration: none;
          color: #000;
          position: relative;
          &::before{
            content: "";
            width: 0;
            height: 2px;
            background-color: #000;
            position: absolute;
            top: 2rem;
            transition: width 300ms ease-in-out;
          }
          &:hover{
            &::before{
              width: 100%;
            }
          }
        }
      }
    }
    .product_description {
      margin-top: 2rem;
      @media screen and (max-width: 510px) {
        margin-top: 1rem;
      }
      h3 {
        font-size: 1.5rem;
        margin-bottom: 0.3rem;
      }
      p {
        font-size: 1.3rem;
        @media screen and (max-width: 510px) {
          font-size: 1rem;
        }
      }
    }
  }
}

footer {
  background-color: var(--orange);
  padding: 2rem 0;
  p {
    text-align: center;
    font-size: 1.3rem;
    color: #fff;
  }
}
