@layer reset {
  * {
    margin: 0;
    padding: 0;
  }
  *::after,
  *::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  body {
    margin: 0;
    padding: 0;
  }
  button,
  input,
  textarea,
  select {
    font: inherit;
  }
  img,
  picture,
  svg,
  canvas {
    max-inline-size: 100%;
    block-size: auto;
  }
  @media (prefers-reduced-motion: reduce) {
    *,
    *::before,
    *::after {
      animation-duration: 0.01ms !important;
      animation-iteration-count: 1 !important;
      transition-duration: 0.01ms !important;
      scroll-behavior: auto !important;
    }
  }
}

:root {
  --grey-dark: #716e6e;
  --grey-light: #aeaeae;
  --yellow-dark: #e2cb01;
  --yellow-light: #f9dc49;
  --orange: #f3880a;
  --blue-light: #09abdd;
  --font-family: "Poppins", sans-serif;
  --font-weight-thin: 100;
  --font-weight-extra-light: 200;
  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semi-bold: 600;
  --font-weight-bold: 700;
  --font-weight-extra-bold: 700;
  --hover-transition: all 200ms ease-in-out;
}
body {
  font-family: var(--font-family);
}

nav {
  .topnav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 3rem;
    @media screen and (max-width: 830px) {
      padding-inline: 1rem;
    }
    @media screen and (max-width: 550px) {
      padding-inline: 0;
    }
    .logo {
      img {
        width: 9rem;
        height: 7rem;
        @media screen and (max-width: 550px) {
          width: 7rem;
        }
      }
    }
    .greeting_text {
      h1 {
        font-size: 2.5rem;
        font-weight: var(--font-weight-medium);
        white-space: nowrap;
        @media screen and (max-width: 830px) {
          font-size: 2rem;
        }
        @media screen and (max-width: 550px) {
          font-size: 1.3rem;
        }
      }
    }
    .search_bar {
      position: relative;
      .bx {
        position: absolute;
        top: 50%;
        left: 1rem;
        transform: translateY(-50%);
        font-size: 1.5rem;
        @media screen and (max-width: 830px) {
          position: static;
          font-size: 2.5rem;
          transform: translateY(-10%);
        }
        @media screen and (max-width: 550px) {
          font-size: 2rem;
        }
      }
      input {
        width: 400px;
        height: 45px;
        border-radius: 100px;
        padding-left: 3rem;
        border: 2px solid #000;
        padding-right: 2rem;
        transition: all 200ms ease-in-out;
        @media screen and (max-width: 830px) {
          display: none;
        }
        &:focus,
        &:focus-visible {
          border: 1px solid var(--orange);
          outline: 1px solid var(--orange);
        }
        &::placeholder {
          font-size: 1.3rem;
          font-weight: var(--font-weight-regular);
        }
      }
    }
  }
  .categories {
    background-color: var(--orange);
    padding-left: 3.5rem;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    @media screen and (max-width: 550px) {
      padding-left: 1rem;
      padding-right: 0.5rem;
    }
    ul {
      list-style: none;
      display: flex;
      flex-wrap: wrap;
      gap: clamp(1rem, 7vw, 5rem);
      @media screen and (max-width: 550px) {
        gap: 1rem;
      }
      li {
        a {
          text-decoration: none;
          color: #fff;
          font-size: 1.3rem;
          &:hover,
          &:focus-visible {
            color: var(--yellow-light);
            outline: none;
          }
          &[aria-current="page"] {
            color: var(--yellow-light);
          }
        }
      }
    }
  }
}
main {
  margin-top: 2rem;
  padding-inline: 2rem;
  @media screen and (max-width: 1000px) {
    padding-inline: 0rem;
  }
}

form {
  .d-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    @media screen and (max-width: 1000px) {
      padding-inline: 1rem;
      grid-template-columns: 1fr;
      gap: 2rem;
    }
    @media screen and (max-width: 550px) {
      width: 400px;
    }
    @media screen  and (max-width:420px){
      width: 350px;
    }
    .product_images_wrapper {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 1.5rem;
      @media screen and (max-width: 550px) {
        width: 400px;
      }
      @media screen and (max-width: 550px) {
        grid-template-columns: 1fr;
        justify-content: center;
        align-items: center;
        width: 400px;
      }
      @media screen  and (max-width:420px){
        width: 350px;
        align-self: center;
      }
      .product_image {
        position: relative;
        @media screen and (max-width: 550px) {
          width: 400px;
        }
        @media screen  and (max-width:420px){
          width: 350px;
        }
        img {
          width: 400px;
          height: 350px;
        }
        label {
          position: absolute;
          top: 0.5rem;
          right: 0.5rem;
          color: #fff;
          font-size: 2rem;
          border: 2px solid #fff;
          border-radius: 50%;
          padding: 0.2em 0.2em;
          transition: var(--hover-transition);
          display: flex;
          justify-content: center;
          align-items: center;
          &:hover {
            background-color: #fff;
            cursor: pointer;
            color: #000;
          }
        }
        input {
          display: none;
        }
      }
    }
    .product_details {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 1.5rem;
      .form_field {
        display: flex;
        flex-direction: column;
        gap: 0.2rem;
        position: relative;
        input {
          width: 400px;
          height: 40px;
          padding-left: 1rem;
          &::-webkit-outer-spin-button,
          &::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
          }
          @media screen  and (max-width:450px){
            width: 350px;
          }
          @media screen  and (max-width:380px){
            width: 310px;
          }
        }
        input[type=number] {
          -moz-appearance: textfield;
        }
        select {
          width: 420px;
          height: 45px;
          padding-left: 1rem;
          appearance: none;
          @media screen  and (max-width:450px){
            width: 370px;
          }
          @media screen  and (max-width:380px){
            width: 325px;
          }
        }
        .bx{
          position: absolute;
          right: 1rem;
          top: 2.3rem;
          font-size: 1.3rem;
          pointer-events: none;
        }
        textarea {
          width: 400px;
          resize: none;
          height: 150px;
          padding: 0.3rem 0 0 1rem;
          @media screen  and (max-width:450px){
            width: 350px;
          }
          @media screen  and (max-width:380px){
            width: 300px;
          }
        }
      }
    }
  }
  input[type="submit"]{
    display: block;
    margin-inline: auto;
    margin-top: 3rem;
    margin-bottom: 2rem;
    padding: 0.3em 6em;
    background-color: var(--yellow-dark);
    color: #fff;
    border: none;
    font-size: 1.5em;
    transition: var(--hover-transition);
    @media screen  and (max-width:450px){
      padding: 0.3em 5em;
    }
    @media screen  and (max-width:380px){
      padding: 0.3em 4em;
    }
    &:hover{
      background-color: var(--yellow-light);
      cursor: pointer;
    }
  }
}

footer {
  background-color: var(--orange);
  padding: 2rem 0;
  p {
    text-align: center;
    font-size: 1.3rem;
    color: #fff;
  }
}

