<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="icon" type="image/x-icon" href="assets/images/favicon.ico.svg">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="assets/css/home.css">
</head>
<body>
    <nav>
        <div class="topnav">
            <div class="logo"><img src="assets/images/logo.svg" alt="logo"></div>
            <div class="search_bar">
                <i class='bx bx-search'></i>
                <input type="search" placeholder="Search products">
            </div>
            <a href="register.html">Become a seller</a>
        </div>
        <div class="categories">
            <ul>
                <li><a href="#">Electronics</a></li>
                <li><a href="#">Automobile</a></li>
                <li><a href="#">Furniture</a></li>
                <li><a href="#">Utensils</a></li>
                <li><a href="#">Others</a></li>
            </ul>
        </div>
    </nav>
    <div class="hero">
        <div class="hero_text">
            <h1>Welcome to e-tshong.</h1>
            <h2>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos eius explicabo sequi minus iste perspiciatis optio hic natus! Repellat, in!</h2>
            <div class="hero_btns">
                <a href="register.html">Become a seller</a>
                <a href="login.html">Login</a>
            </div>
        </div>
        <img src="assets/images/hero_img.svg" alt="" aria-hidden="true">
    </div>
    <main>
    </main>
    <footer>
        <p>Copyright&copy; e-tshong 2024. All Rights Reserved.</p>
    </footer>
    <script src="assets/js/index.js"></script>
</body>
</html>