<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="icon" type="image/x-icon" href="assets/images/favicon.ico.svg">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="assets/css/home.css">
</head>
<body>
    <nav>
        <div class="topnav">
            <div class="logo"><img src="assets/images/logo.svg" alt="logo"></div>
            <div class="search_bar">
                <i class='bx bx-search'></i>
                <input type="search" placeholder="Search products">
            </div>
            <a href="register.html">Become a seller</a>
        </div>
        <div class="categories">
            <ul>
                <li><a href="#">Electronics</a></li>
                <li><a href="#">Automobile</a></li>
                <li><a href="#">Furniture</a></li>
                <li><a href="#">Utensils</a></li>
                <li><a href="#">Others</a></li>
            </ul>
        </div>
    </nav>
    <div class="hero">
        <div class="hero_text">
            <h1>Welcome to e-tshong.</h1>
            <h2>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos eius explicabo sequi minus iste perspiciatis optio hic natus! Repellat, in!</h2>
            <div class="hero_btns">
                <a href="register.html">Become a seller</a>
                <a href="login.html">Login</a>
            </div>
        </div>
        <img src="assets/images/hero_img.svg" alt="" aria-hidden="true">
    </div>
    <main>
        <div class="card_container">
            <div class="product_img">
                <img src="assets/images/product_img.png" alt="product image">
            </div>
            <div class="card_body">
                <h3 class="product_title">High grade wooden wardrobe</h3>
                <div class="price">
                    <p class="actual_price">Nu. <span id="actual_price">50,000</span></p>   
                    <p class="new_price">Nu. <span id="new_price">30,000</span></p>         
                </div>
                <p class="contact">Seller Contact: <span id="seller_contact">17736762</span></p>
                <button>View More</button>
            </div>
        </div>
        <div class="card_container">
            <div class="product_img">
                <img src="assets/images/product_img.png" alt="product image">
            </div>
            <div class="card_body">
                <h3 class="product_title">High grade wooden wardrobe</h3>
                <div class="price">
                    <p class="actual_price">50,000</p>   
                    <p class="new_price">30,000</p>         
                </div>
                <p class="contact">Seller Contact: <span id="seller_contact">17736762</span></p>
                <button>View More</button>
            </div>
        </div>
        <div class="card_container">
            <div class="product_img">
                <img src="assets/images/product_img.png" alt="product image">
            </div>
            <div class="card_body">
                <h3 class="product_title">High grade wooden wardrobe</h3>
                <div class="price">
                    <p class="actual_price">50,000</p>   
                    <p class="new_price">30,000</p>         
                </div>
                <p class="contact">Seller Contact: <span id="seller_contact">17736762</span></p>
                <button>View More</button>
            </div>
        </div>
        <div class="card_container">
            <div class="product_img">
                <img src="assets/images/product_img.png" alt="product image">
            </div>
            <div class="card_body">
                <h3 class="product_title">High grade wooden wardrobe</h3>
                <div class="price">
                    <p class="actual_price">50,000</p>   
                    <p class="new_price">30,000</p>         
                </div>
                <p class="contact">Seller Contact: <span id="seller_contact">17736762</span></p>
                <button>View More</button>
            </div>
        </div>
        <div class="card_container">
            <div class="product_img">
                <img src="assets/images/product_img.png" alt="product image">
            </div>
            <div class="card_body">
                <h3 class="product_title">High grade wooden wardrobe</h3>
                <div class="price">
                    <p class="actual_price">50,000</p>   
                    <p class="new_price">30,000</p>         
                </div>
                <p class="contact">Seller Contact: <span id="seller_contact">17736762</span></p>
                <button>View More</button>
            </div>
        </div>
        <div class="card_container">
            <div class="product_img">
                <img src="assets/images/product_img.png" alt="product image">
            </div>
            <div class="card_body">
                <h3 class="product_title">High grade wooden wardrobe</h3>
                <div class="price">
                    <p class="actual_price">50,000</p>   
                    <p class="new_price">30,000</p>         
                </div>
                <p class="contact">Seller Contact: <span id="seller_contact">17736762</span></p>
                <button>View More</button>
            </div>
        </div>
    </main>
    <footer>
        <p>Copyright&copy; e-tshong 2024. All Rights Reserved.</p>
    </footer>
</body>
</html>