<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet"> 
    <title>Register</title>
    <link rel="icon" type="image/x-icon" href="assets/images/favicon.ico.svg">
    <link rel="stylesheet" href="assets/css/register.css">
</head>
<body>
    <div class="logo">
        <img src="assets/images/logo.svg" alt="logo">
    </div>
    <main>
        <form action="#" id="registration_form">
            <div class="header">
                <h1>Register</h1>
                <h2>Register to become a seller on e-tshong</h2>
            </div>
            <div class="form_field">
                <label for="first_name">First Name:</label>
                <input type="text" id="first_name" name="first name" spellcheck="false" autocomplete="off" required>
                <small></small>
            </div>
            <div class="form_field">
                <label for="last_name">Last Name:</label>
                <input type="text" id="last_name" name="first name" spellcheck="false" autocomplete="off">
                <small></small>
            </div>
            <div class="form_field">
                <label for="contact_number">Contact Number:</label>
                <input type="tel" id="contact_number" name="first name" maxlength="8" minlength="8" autocomplete="off" required>
                <small></small>
            </div>
            <div class="form_field">
                <label for="email">Email (Optional):</label>
                <input type="email" id="email" name="first name" spellcheck="false" autocomplete="off">
                <small></small>
            </div>
            <fieldset id="gender">
                <legend>Gender:</legend>
                <div class="radio_field">
                    <input type="radio" id="male" name="gender" value="Male" required>
                    <label for="male">Male</label>
                </div>
                <div class="radio_field">
                    <input type="radio" id="female" name="gender" value="Female">
                    <label for="female">Female</label>
                </div>
                <div class="radio_field">
                    <input type="radio" id="other" name="gender" value="Other">
                    <label for="other">other</label>
                </div>
            </fieldset>
            <div class="form_field">
                <label for="password">Password:</label>
                <input type="password" name="password" id="password" spellcheck="false" autocomplete="off" required>
                <small></small>
            </div>
            <div class="form_field">
                <label for="confirm_password">Confirm Password:</label>
                <input type="password" name="confirm_password" id="confirm_password" required>
                <small></small>
            </div>
            <p>By submitting this form you agree to the <a href="#">Terms and Conditions</a> and <a href="#">Privacy Policy</a> of e-tshong.</p>
            <input type="submit" value="SUBMIT" id="submit_btn">
            <p>Already have an account? <a href="login.html">Login here.</a></p>
        </form>
    </main>
    <img src="assets/images/default_profile.jpg" alt="" style="display: none;">
    <script src="assets/js/register.js"></script>
</body>
</html>